{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <title>{{ data.q }}_商品搜索_免费领淘宝购物券</title>
    <link href="{% static "/css/base.css" %}" rel="stylesheet">
</head>
<body>

<div class="search-bar">
    <div class="search">
        <form action="search.html" method="get" id="HSearch" onsubmit="return search_check()">
            <div class="search_left">
                {% if data %}
                    <input type="text" name="q" value="{{ data.q }}" />
                {% else %}
                    <input type="text" name="q" placeholder="丝袜" />
                {% endif %}
            </div>
            <div class="search_right">
                <button type="submit">商品搜索</button>
            </div>
        </form>
    </div>
</div>
{% if data.res %}
    <div class="search-content">
    <div class="baby-father">
        {% for baby in data.res %}
            <div class="baby-item">
            <div class="item-img">
                {% if baby.coupon_id %}
                    <a href="{{ baby.coupon_share_url }}" target="_blank"><img src="{{ baby.pict_url }}" /></a>
                {% else %}
                    <a href="{{ baby.url }}" target="_blank"><img src="{{ baby.pict_url }}" /></a>
                {% endif %}
            </div>
            <div class="item-info item-money">
                {% if baby.current_price %}
                    <span class="nprice">现价<span class="font-20-bold">￥{{ baby.current_price }}</span></span>
                    <span class="oprice">原价￥{{ baby.zk_final_price }}</span>
                {% else %}
                    <span class="nprice">现价<span class="font-20-bold">￥{{ baby.zk_final_price }}</span></span>
                {% endif %}
            </div>
            <div class="item-info item-coupon">
                {% if baby.coupon_id %}
                    <a href="{{ baby.coupon_share_url }}" target="_blank">
                        <span>领取{{ baby.coupon_info }}优惠券</span>
                    </a>
                {% endif %}
             </div>
            <div class="item-info item-pname">
                {% if baby.coupon_id %}
                    <a href="{{ baby.coupon_share_url }}" target="_blank">{{ baby.title }}</a>
                {% else %}
                    <a href="{{ baby.url }}" target="_blank">{{ baby.title }}</a>
                {% endif %}
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endif %}
<!--分页-->
<div class="page-content">
    <ul>
    {% if data.page.p > 1 %}
        <a href="?q={{ data.q }}&page={{ data.page.previous }}"><li>上一页</li></a>
    {% endif %}
    {% for index in data.page.list %}
        {% if index == data.page.p %}
            <li class="high">{{ index }}</li>
        {% else %}
            <a href="?q={{ data.q }}&page={{ index }}"><li>{{ index }}</li></a>
        {% endif %}
    {% endfor %}
    {% if data.page.p < data.page.count %}
        <a href="?q={{ data.q }}&page={{ data.page.next }}"><li>下一页</li></a>
    {% endif %}
    </ul>
</div>
<script type="text/javascript">
    function search_check() {
        var formObject = document.getElementById('HSearch');
        var inputQ = formObject['q'];
        if (inputQ.value.length === 0) {
            inputQ.value = inputQ.placeholder;
        }
        return true;
    }
</script>
</body>
</html>