<!doctype html>
<html lang="zh-CN">
<head>
    <title>领取淘宝优惠券</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <script src="https://apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js"></script>
    <link href="/static/css/index.css" rel="stylesheet">
</head>
<body>
    <div class="search">
        <div class="search-bar">
            <form method="get" action="">
                <input type="text" placeholder="请输入商品名称"/>
                <button type="submit">商品搜索</button>
            </form>
        </div>
    </div>

    <div class="content">
        {% for baby in data.res %}
            <div class="pro">
            {% if baby.coupon_click_url %}
                <a href="{{ baby.coupon_share_url }}" target="_blank">
            {% else %}
                <a href="{{ baby.url }}" target="_blank">
            {% endif %}
                <div class="pro-img" style="background-image: url({{ baby.pict_url }})">
                </div>
                <div class="pro-name">
                    {{ baby.title }}
                </div>
                <div class="pro-price">
                    <div class="pro-coupon-price">{{ baby.coupon_info }}券</div>
                    <div class="pro-old-price">¥{{ baby.zk_final_price }}</div>
                </div>
            </a>
            {% if baby.coupon_click_url %}
                <a href="{{ baby.coupon_share_url }}" target="_blank">
                <div class="pro-coupon">
                    <div class="coupon-info">
                        <span class="coupon-info1">预计领取优惠券后</span>
                        <span class="coupon-info2">¥{{ baby.current_price }}</span>
                    </div>
                    <div class="coupon-next"></div>
                </div>
                </a>
            {% endif %}
        </div>
        {% endfor %}
    </div>

    <script type="text/javascript">
        var isEnd = false;
        var isLoading = false;
        var page = 1;
        var getList = function () {
            if (isEnd || isLoading) {
                return;
            }
            page += 1;
            $.ajax({
                type:'get',
                url:'http://127.0.0.1:8000/page.php?page='+ page,
                dataType:'json',
                success:function (ret) {
                    console.log(ret.data);
                }
            })
        }

        getList();


        function setRem(){
            var width = document.body.offsetWidth;
            var nowFont=width / 375. * 16.;
            var htmlFont=document.getElementsByTagName('html')[0];
            htmlFont.style.fontSize =nowFont+"px";
            console.log(nowFont);
        }
        setRem();
        window.onresize=setRem;  //监听屏幕变化
    </script>
</body>
</html>